<h3>
    Section 2 „HealthCampaign Today“
</h3>

<br/>

<h4>
    eventsToday: <%- eventsToday.length %>
</h4>

<% for(var i=0; i<eventsToday.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, eventsToday[i].activity.idea, eventsToday[i].activity.id) %>">

    <img width="80" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + eventsToday[i].activity.number + '.jpg'%>">

    <%= eventsToday[i].activity.title %>
    <%= moment(eventsToday[i].start).format('hh:mm') %>
    <%- eventsToday[i].activity.location %>



</a>

<br/>

<% } %>
<br/>

<h4>
    eventsWithOpenFeedback: <%- eventsWithOpenFeedback.length %>
</h4>

<% for(var i=0; i<eventsWithOpenFeedback.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, eventsWithOpenFeedback[i].activity.idea, eventsWithOpenFeedback[i].activity.id) %>">

    <img width="60" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + eventsWithOpenFeedback[i].activity.number + '.jpg'%>">
    <%= eventsWithOpenFeedback[i].activity.title %>
    <%= moment(eventsWithOpenFeedback[i].start).format('hh:mm') %>
    <%- eventsWithOpenFeedback[i].activity.location %>

</a>

<br/>

<% } %>
<br/>