
<h3>
    Section 3.2 – „News from Campaign Participants“
</h3>


<h4>
    newPersonalInvitations: <%- newPersonalInvitations.length %>
</h4>

<% for(var i=0; i<newPersonalInvitations.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, newPersonalInvitations[i].activity.idea, newPersonalInvitations[i].activity.id, newPersonalInvitations[i].id) %>">
    <img width="60" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + newPersonalInvitations[i].activity.number + '.jpg'%>">
    <%= newPersonalInvitations[i].activity.title %>
</a>


<img width="30" src="<%- newPersonalInvitations[i].author.avatar %>">
von
<%= newPersonalInvitations[i].author.fullname %>

<br/>

<% } %>
<br/>



<h4>
    newCommentsOnParticipatedActivities: <%- newCommentsOnParticipatedActivities %>
</h4>

<a href="<%= urlComposer.homeUrl() %>">
   Show main screen
</a>

<br/>



<h4>
    newPublicInvitations: <%- newPublicInvitations %>
</h4>

<a href="<%= urlComposer.homeUrl() %>">
   Show main screen
</a>

<br/>


<h4>

    <%if (newCoachRecommendations > 0) { %>

    newCoachRecommendations: <%- newCoachRecommendations %>


    <% } else { %>

    no newCoachRecommendations, do a self assessment!

    <% } %>



</h4>

<br/>
