
<h3><%= t('email:dailySummary.section3.2.1.header', locals) %></h3>
<p><%= t('email:dailySummary.section3.2.1.content', { newPersonalInvitations: newPersonalInvitations.length }) %></p>


<% for(var i=0; i<newPersonalInvitations.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, newPersonalInvitations[i].activity.idea, newPersonalInvitations[i].activity.id, newPersonalInvitations[i].id) %>">
    <img width="60" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + newPersonalInvitations[i].activity.number + '.jpg'%>">
    <%= newPersonalInvitations[i].activity.title %>
</a>


<img width="30" src="<%- newPersonalInvitations[i].author.avatar %>">
von
<%= newPersonalInvitations[i].author.fullname %>

<br/>

<% } %>
<br/>


<h3><%= t('email:dailySummary.section3.2.2.header', locals) %></h3>
<p><%- t('email:dailySummary.section3.2.2.content', {
        newCommentsOnParticipatedActivities: newCommentsOnParticipatedActivities,
        link: urlComposer.homeUrl()
    }) %></p>


<br/>



<h4>
    newPublicInvitations: <%- newPublicInvitations %>
</h4>

<a href="<%= urlComposer.homeUrl() %>">
   Show main screen
</a>

<br/>


<h4>

    <%if (newCoachRecommendations > 0) { %>

    newCoachRecommendations: <%- newCoachRecommendations %>


    <% } else { %>

    no newCoachRecommendations, do a self assessment!

    <% } %>



</h4>

<br/>
