
<h3>
    Section 3.1 – „News from Campaign Leader“
</h3>


<h4>
    newCampaignMessages: <%- newCampaignMessages.length %>
</h4>

<% for(var i=0; i<newCampaignMessages.length; i++) {%>

<a href="<%= urlComposer.homeUrl() %>">
    <img width="30" src="<%- newCampaignMessages[i].author.avatar %>">
    <%= newCampaignMessages[i].title %>,

    <%= newCampaignMessages[i].author.fullname %>
</a>
<br/>


<br/>

<% } %>
<br/>



<h4>
    newCampaignActivityInvitations: <%- newCampaignActivityInvitations.length %>
</h4>

<% for(var i=0; i<newCampaignActivityInvitations.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, newCampaignActivityInvitations[i].activity.idea, newCampaignActivityInvitations[i].activity.id, newCampaignActivityInvitations[i].id) %>">
    <img width="60" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + newCampaignActivityInvitations[i].activity.number + '.jpg'%>">
    <%= newCampaignActivityInvitations[i].activity.title %>
</a>
<span>
    von
    <%= newCampaignActivityInvitations[i].author.fullname %>
</span>

<br/>

<% } %>
<br/>



<h4>
    newCampaignRecommendations: <%- newCampaignRecommendations.length %>
</h4>

<% for(var i=0; i<newCampaignRecommendations.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, newCampaignRecommendations[i].idea.id, '', newCampaignRecommendations[i].id) %>">
    <img width="60" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + newCampaignRecommendations[i].idea.number + '.jpg'%>">
    <%= newCampaignRecommendations[i].idea.title %>
</a>
von
<%= newCampaignRecommendations[i].author.fullname %>

<br/>

<% } %>
<br/>


