
<%  midTermWeek = Math.floor(moment(user.campaign.end).diff(user.campaign.start, 'weeks') / 2) %>


<!-- campaign start, monday, 2nd week -->
<%if (moment(user.campaign.start).day(1).add(1, 'weeks').diff(currentDate, 'days') == 0) { %>

    <p><%- t('email:dailySummary.section1.1.content', locals) %></p>

<!-- campaign mid term, monday, midTermWeek week -->
<% } else if (moment(user.campaign.start).day(1).add(midTermWeek, 'weeks').diff(currentDate, 'days') == 0) { %>

    <p><%- t('email:dailySummary.section1.2.content', locals) %></p>

<!-- campaign last day, last day of campaign, check this before 1.3, because it is more important, if they are on the same day -->
<% } else if (moment(user.campaign.end).diff(currentDate, 'days') == 0) { %>

<p><%- t('email:dailySummary.section1.4.content', locals) %></p>

<!-- campaign last week, monday, last week -->
<% } else if (moment(user.campaign.end).day(1).diff(currentDate, 'days') == 0) { %>

    <p><%- t('email:dailySummary.section1.3.content', locals) %></p>


<% } else { %>


<%- t('email:dailySummary.section1.default', locals) %>


<% } %>

<br/>
<br/>

<a href="<%= urlComposer.homeUrl() %>" style="line-height: 20.7999992370605px;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust:100%;color: #03a9f4;font-weight: normal;text-decoration: none;" target="_blank">

    <%- t('email:dailySummary.campaignLink') %>

</a>

