

<h3><%= t('email:dailySummary.section2.1.header', locals) %></h3>
<p><%= t('email:dailySummary.section2.1.content', { eventsToday: eventsToday.length }) %></p>

<% for(var i=0; i<eventsToday.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, eventsToday[i].activity.idea, eventsToday[i].activity.id) %>">

    <img width="80" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + eventsToday[i].activity.number + '.jpg'%>">

    <%- eventsToday[i].activity.title %>
    <%= moment(eventsToday[i].start).format('hh:mm') %>
    <%- eventsToday[i].activity.location %>

</a>

<br/>

<% } %>
<br/>


<h3><%= t('email:dailySummary.section2.2.header', locals) %></h3>
<p><%= t('email:dailySummary.section2.2.content', { eventsWithOpenFeedback: eventsWithOpenFeedback.length }) %></p>

<% for(var i=0; i<eventsWithOpenFeedback.length; i++) {%>

<a href="<%= urlComposer.activityUrl(user.campaign.id, eventsWithOpenFeedback[i].activity.idea, eventsWithOpenFeedback[i].activity.id) %>">

    <img width="60" src="<%- urlComposer.homeUrl() + '/assets/actpics/' + eventsWithOpenFeedback[i].activity.number + '.jpg'%>">
    <%= eventsWithOpenFeedback[i].activity.title.replace(/(<([^>]+)>)/ig, " ") %>
    <%= moment(eventsWithOpenFeedback[i].start).format('hh:mm') %>
    <%- eventsWithOpenFeedback[i].activity.location %>

</a>

<br/>

<% } %>
<br/>