<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <body>
        Hallo <%= user.firstname %>,<br>

        <p>Jemand hat vor kurzem verlangt, dass das Youpers Digital Health Passwort f체r <b><%= user.username %> (<%= user.email %>)</b> zur체ckgesetzt wird.</p>

        <p>Um es zur체ckzusetzen klicke auf diesen Link:</p>

        <a href="<%= passwordResetLink %>"><%= passwordResetLink %></a>
        <br>
        <br>
        Wenn das ein Fehler ist, kannst du dieses Mail ignorieren - dein Password wird dann nicht ge채ndert.
    </body>
</html>
